In [49]:
import pandas as pd
import numpy as np
#import warnings

In [50]:
df_listA = pd.read_csv("data/listA.csv")
df_listA

  Contractor       State  Provnum Provaddress
0          A     Georgia      123           x
1          A     Georgia      115           y
2          A    Alabama       112           z
3          B       Idaho      111           b
4          B       Idaho      110           d
5          B       Idaho      100           a
6          C    Maryland       89           s
7          C    Maryland       90           u
8          C  Washington       40           y

In [51]:
df_listB = pd.read_csv("data/listB.csv")
df_listB

  Contractor       State  Provnum Provaddress
0          A     Georgia      123           x
1          A     Georgia      115           y
2          A    Alabama        99           z
3          B       Idaho      111           b
4          B       Idaho      110           d
5          B       Idaho      101           a
6          C    Maryland       89           s
7          C    Maryland       70           u
8          C  Washington       40           y

In [55]:
lB_provnum = df_listB['Provnum']
lA_provnum = df_listA['Provnum']

In [56]:
# get indicies of all the provnums in B that are found in A provnums
# returns a series with true or false values
B_provnums_idx_found_in_A = lA_provnum.isin(la_provnum)

df_listB['PROVNUMS_IN_LIST_A'] = B_provnums_idx_found_in_A
df_listB

  Contractor       State  Provnum Provaddress PROVNUMS_IN_LIST_A
0          A     Georgia      123           x               True
1          A     Georgia      115           y               True
2          A    Alabama        99           z               True
3          B       Idaho      111           b               True
4          B       Idaho      110           d               True
5          B       Idaho      101           a               True
6          C    Maryland       89           s               True
7          C    Maryland       70           u               True
8          C  Washington       40           y               True